
#scrr-question {
    position: fixed;
    bottom : -200px;
    left : 50%;
    transform : translate(-50%, 0);
    width : 100%;
    max-width: 500px;
    box-sizing: border-box;
    background : #fff;
    padding : 10px 20px 30px;
    box-shadow : 1px -2px 3px rgba(0,0,0,0.2);
    display : none;
}

#scrr-question div.top-row {

}

#scrr-question h1 {
    font-size : 22px;
    font-family: Garamond, Times, serif;
    font-weight: 200;
    text-align: left;
    display: inline-block;
    margin : 0;
}

#scrr-question .scrr-close {
    float : right;
    display : inline-block;
}

#scrr-question .scrr-explain {
    font-family: sans-serif;
    width : 60%;
    min-width : 300px;
    margin : 20px auto;
}

.scrr-explain .scrr-heart {
    width : 36px;
}

#scrr-question .scrr-explain p {
    text-align: left;
    padding : 0 10px
}

#scrr-question .scrr-decision .scrr-decision-left,
#scrr-question .scrr-decision .scrr-decision-right {
    display : inline-block;
    width : 49%;
    text-align : center;
}

.scrr-decision-left .scrr-nvr-again {
    font-size : 75%;
}

#scrr-question .scrr-btn {
    display : inline-block;
    padding : 5px 10px;
    background-color : #2196F3;
    box-shadow : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color : #fff;
    width : 75%;
    height : 40px;
    line-height: 40px;
}

#scrr-question .scrr-screen-wipe {
    position : fixed;
    width : 0;
    height : 0;
    background : transparent;
    border-color : blue;
    border-radius : 100%;
}

.scrr-share-screen,
.scrr-nvr-again-screen {
    display : none;
}

#scrr-question .scrr-fb,
.scrr-share-screen .scrr-twtr {
    position : relative;
    border-radius : 50px;
    width : 70%;
    margin : 20px auto;
    overflow : hidden;
    color : #fff;
    height : 40px;
}

#scrr-question .scrr-fb {
    background-color : #3B5998;
}

.scrr-share-screen .scrr-twtr {
    background-color : #55acee;
}

#scrr-question .scrr-fb .scrr-fb--icon,
.scrr-share-screen .scrr-twtr .scrr-twtr--icon {
    position : absolute;;
    display : inline-block;
    top : 50%;
    left : 0;
    transform : translateY(-50%);
    width : 15%;
    padding : 5px;
    text-align: center;
}

#scrr-question .scrr-fb .scrr-fb--icon {
    border-right : 1px solid #2f4779;
}

#scrr-question.scrr-twtr .scrr-twtr--icon {
    border-right : 1px solid #4489be;
}

#scrr-question .scrr-fb .scrr-fb--txt,
.scrr-share-screen .scrr-twtr .scrr-twtr--txt {
    position : absolute;;
    left : 20%;
    top : 0;
    display : inline-block;
    text-align : center;
    width : 79%;
    line-height : 40px;
}

#scrr-question .scrr-success {
    display : none;

}

#scrr-question .scrr-success--txt {
    margin : 20px auto;
    text-align: center;
}

#scrr-question .scrr-success--txt p {
    margin : 0;
}
